@model IEnumerable<Safari.Entities.Precio>

<p>
    @Html.ActionLink("Crear un Precio", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoServicioID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaDesde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaHasta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoServicioID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaDesde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaHasta)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
