@model IEnumerable<Safari.Entities.Cita>

<p>
    @Html.ActionLink("Crea una cita", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sala)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sala)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoServicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
       
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
